
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
}

.container{
    position: absolute;
    width: 550px;
    height: 350px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.menu{
position: relative;
bottom: 35px;
right: 52px;
cursor: pointer;
}

.left, .right, .top{
    transform-origin: 0 0;
}

.left{
    position: relative;
    width: 20px;
    height: 100px;
    background: #dddddd;
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
}
.right{
    position: relative;
    width: 100px;
    height: 20px;
    background: #c8c8c8;
    transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
    bottom: 100px;
}

.top{
    width: 100px;
    height: 100px;
    background: white;
    transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
    position: relative;
    bottom: 120px;
    background: white;
    color: #f80f62;
}


.menu > div{
    height:0;
}
.item1{
    position: relative;
    top:100px;
    left:500px;

}
.item2{
    position: relative;
    top:149.5px;
    left:413.5px;
}
.item3{
    position: relative;
    top:199.5px;
    left:327.5px;
}
.item4{
    position: relative;
    top:249px;
    left:241px;
}
.item5{
    position: relative;
    top:298px;
    left:155px;
}
.item{
    transition: .5s;
}
.item:hover{
    transform: .5s;
    transform: translateY(-40px);
}
.item:hover .shadow{
    background: rgba(155, 155, 155, 0.25);
    box-shadow: 0 0 30px 15px rgba(8, 8, 8, 0.09);
    transform: rotate(210deg) skewX(-30deg) scaleY(0.864) translateY(20px);
}
.item:hover .top{
    color: white;
    background: #f80f62;
}
.item:hover .left{
    background: #f7085c;
}
.item:hover .right{
    background: #df0752;
}


.shadow{
    width: 50px;
    height: 50px;
    background: transparent;
    transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
    position: relative;
    top: 30px;
    right: 30px;
}

.fa{
    font-size: 50px;
}

i{
    transform: rotate(90deg);
    position: relative;
    top: 25px;
    left: 25px;
}